.btn--num {
}
.btn--op {
}

.btn {
  background-color: var(--bg-btn-color);
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: var(--bg-btn-color);
  }
}
@media (prefers-dark-interface) {
  .btn {
    background-color: var(--bg-btn-color);
  }
}
